html {
    width:100%;
}
body {
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    margin-bottom: -30px;
    width: 100%;
}
.logoline {
    margin-top: 0px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
}
.logo {
    margin-left: 50px;
}
header {
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    margin-top: 0px;
    
}
.searchbox {
    width: 500px;
    height: 20px;
    background-color:black;
    margin-left: 100px;
    margin-right: 320px;
    margin-bottom: 5px;
    margin-top: 2px;
    padding-bottom: 1px;
    padding-top: 10px;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: white solid 5px;
    color: white;
    outline: none;
}
.text {
    color: white;
    text-align: center;
    font-family: 'Poppins';
    font-size: 5vw;
    -webkit-text-stroke: 0.05em whitesmoke;
    -webkit-text-fill-color: transparent;
}
#t2 {
    margin-top: -5vw;
    margin-bottom: 5vw;
}
#b1 {
    height: 60px;
    width: 300px;
    font-size: 20px;
    color: white;
    background-color:deeppink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: none;
}
#b1:hover {
    background-color: lime;
    transition: all 100ms;
    cursor: pointer;
    transform: scale(1.1);
}

#get {
    padding-bottom: 7.2vw;
}
.imageline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content {
    display: grid;
}
.heading {
    font-size: 20px;
    margin-left: 55px;
}
.movie_img {
   height: 180px;
   width: 250px;
   border-radius: 10px;
   margin-bottom: 20px;
}
.movie_img:hover {
    transform: scale(1.15);
    cursor: pointer;
    transition: all 200ms;
}
#imageline1 {
    margin-bottom: 6vw;
}
#imageline2 {
    margin-bottom: 6vw;
}

.icons {
    display: flex;
    padding-top: 6vw;
    padding-bottom: 3vw;
    margin-left: 500px;
    text-align: center;
}
.ic {
    background-color: whitesmoke;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.ic:hover {
    transform: scale(1.5);
    cursor: pointer;
}
#c {
    border-radius: 15px;
    margin-right: 0px;
    background-color: whitesmoke;
    height: 30px;
    margin-left: 30px;
    margin-bottom: -5px;
}
.lastline {
    display: flex;
}
.last {
    color: whitesmoke;
    font-family: 'Gugi';
    font-size: 25px;
    margin-left: 470px;
    
}
footer {
    background-color:black;
    padding-bottom: 2vw;
    align-items: center;
}
